VITE_OPSMIND_API_BASE_URL=http://127.0.0.1:8000
VITE_OPSMIND_ENVIRONMENT=local
VITE_OPSMIND_ZITADEL_ISSUER=https://opsmind-phase-8b-gl9aih.us1.zitadel.cloud
VITE_OPSMIND_ZITADEL_PROJECT_ID=386124341898709869
VITE_OPSMIND_ZITADEL_CLIENT_ID=386124342116795580
